@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definição de temas com variáveis CSS */
.green-code {
  --background: #000000;
  --foreground: rgba(255, 255, 255, 0.85);
  --accent: #00ff00;
}

.cyber-luxury {
  --background: #121212;
  --foreground: #00bfff;
  --accent: #ffd700;
}

.minimalist-future {
  --background: #2f4f4f;
  --foreground: #f8f8ff;
  --accent: #b0c4de;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
